@use './mixins';

.inputPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 800px;
  width: 600px;
  min-width: 400px;
  max-width: 700px;

  .codeEditorContainer {
    position: relative;
    flex: 1;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;

    &:focus-within {
      border-color: #333;
    }

    .highlightedContent {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0.75rem;
      font-family: 'consolas', monospace;
      font-size: 1rem;
      white-space: pre;
      overflow: auto;
      pointer-events: none;
      z-index: 1;

      span {
        &.warning {
          text-decoration: underline wavy #d29200 0.5px;
        }
      }

      .hex {
        color: #000;
        font-weight: 500;
      }

      .other {
        color: #777;
      }

      .comment {
        color: #888;
        font-style: italic;
      }

      .constant {
        &.name {
          color: #0b7285;
        }

        &.equal {
          color: #333;
        }

        &.value {
          color: #5c940d;
        }
      }

      .gadget {
        color: #1864ab;
        background-color: transparent;
        text-decoration: none;

        &.closed {
          border-radius: 2px;
          background-color: #e7f5ff;
          text-decoration: underline 1px;
        }
      }

      .value {
        color: #e67700;
        background-color: transparent;
        text-decoration: none;

        &.closed {
          border-radius: 2px;
          background-color: #fff9db;
          outline: 1px solid #ffe066;
        }
      }

      .anchor {
        color: #087f5b;
        background-color: transparent;
        text-decoration: none;

        &.closed {
          border-radius: 8px;
          background-color: #e6fcf5;
          outline: 1px solid #63e6be;
        }
      }
    }
  }

  .codeInput {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    font-family: 'consolas', monospace;
    font-size: 1rem;
    color: transparent;
    background: transparent;
    white-space: pre;
    caret-color: #000;
    resize: none;
    z-index: 2;
    border: none;
    overflow: auto;

    &:focus {
      outline: none;
    }

    &::selection {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.autocompletePanel {
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 190px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;

    &:hover {
      background: #bbb;
    }
  }

  .suggestionItem {
    display: flex;
    padding: 6px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    gap: 0.4rem;
    align-items: center;

    &:hover {
      background-color: #e0e0e0;
    }

    &.selected {
      background-color: #d0d0d0;
    }

    .name {
      font-weight: bold;
      color: #333;
    }

    .addr {
      color: #888;
      font-style: italic;
      font-size: 0.7rem;
      text-decoration: underline;
    }

    .tag {
      @include mixins.tag;
    }

    .desc {
      margin-left: auto;
      padding-left: 0.5rem;
      color: #666;
      font-size: 0.9em;
    }

    .arrowButton {
      background: none;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-size: 1rem;
      padding: 0 5px;
      margin-left: 0;
      color: #666;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        color: #000;
        background-color: #d0d0d0;
      }
    }
  }
}
