@use 'variables' as v;
@use 'mixins' as m;

.overlay {
  @include m.overlay;
}

.panel {
  width: 420px;
  padding: 20px;
  border: 1px solid v.$bg-light;
  border-radius: v.$border-radius-lg;
  background: v.$gray-100; // #f0f0f0
  color: v.$gray-800; // #333
  box-shadow: v.$box-shadow-lg;

  h2 {
    margin-top: 0;
    margin-bottom: 12px;
    color: v.$gray-800; // #333
    font-size: 1.5em;
    text-align: center;
  }
}

.formGroup {
  margin-bottom: 12px;

  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
  }

  input[type='text'] {
    @include m.input-base;
    background-color: v.$white;
    cursor: pointer;

    &:hover {
      border-color: #999;
    }
  }

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid v.$gray-400; // #ccc
    border-radius: v.$border-radius;
    background-color: v.$white;
    color: v.$gray-800; // #333

    option {
      padding: 5px;
      background-color: #f9f9f9;
      color: v.$gray-800; // #333
    }
  }

  input[type='file'] {
    margin: 0 25px 10px;
  }
}

.radioGroup {
  @include m.flex-column;

  label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;

    input[type='radio'] {
      margin-right: 10px;
      accent-color: #1c7ed6;
    }
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;

  button {
    @include m.button-base;
    margin-left: 10px;

    &:first-child {
      background-color: #ddd;
      color: v.$gray-800; // #333

      &:hover {
        background-color: #ccc;
      }
    }

    &:last-child {
      background-color: v.$primary;
      color: v.$white;

      &:hover {
        background-color: v.$primary-hover;
      }
    }
  }
}
